<section class="<%= header.to_css_class %> list">
  <h1>
    <%= header.to_s %>
  </h1>
  <div>
      <%= link_to "Add new team", new_team_path %>
  </div>
  <div class="collection" data-behavior="teams-list">
    <%= render teams %>
  </div>
</section>
