<article id="<%= dom_id(history) %>" class="drilldown">
  <div><%= history.scan.user.login %></div>
  <div><%= history.scan.location.name %></div>
  <div><%= history.created_at.to_s(:uk) %></div>
</article>