<section class="<%= header.to_css_class %>">
  <h1>
    <%= header.to_s %>
  </h1>
  <div>
      <%= link_to "Add new user", new_user_path %>
  </div>
   <div class="collection" data-behavior="users-list">
    <%= render partial: "user", collection: @users %>
  </div>
</section>