<section class="<%= header.to_css_class %>">
   <h1>
    <%= header.to_s %>
  </h1>
  <div class="collection" data-behavior="labwares-list">
    <%= render partial: "application/labware", collection: labwares %>
  </div>
</section>