<section class="list">
  <h3>Your search returned <%= pluralize(@search.results.count, 'result') %></h3>
  <% @search.results.each do |heading, records| %>
    <div data-behavior="<%= heading %>-list">
      <h4><%= heading.to_s.titleize %></h4>
      <% records.each do |record| %>
        <%= render record %>
      <% end %>
    </div>
  <% end %>
  <div id="delete-form"></div>
  <div id="print-form"></div>
</section>