<section class="<%= header.to_css_class %>">
  <h1>
    <%= header.to_s %>
  </h1>
  <div>
      <%= link_to "Add new printer", new_printer_path %>
  </div>
  <div class="collection" data-behavior="printers-list">
    <%= render printers %>
  </div>
</section>
