<div class="about">
  <div>
    <p>Version 1.0</p>
  </div>
  <div>
    <p><a href="https://sanger.freshservice.com/support/catalog/items?category_id=53000051282" target="_blank">Report an issue</a></p>
    <div></div>
    <p><a href="https://ssg-confluence.internal.sanger.ac.uk/display/PSDPUB/User+guide" target="_blank">User Guide</a></p>
  </div>
</div>
