<div class="about">
  <div>
    <p>Version 1.0</p>
  </div>
  <div>
    <h4>Contacts:</h4>
    <p>Richard Livett</p>
  </div>
  <div>
    <p><a href="https://confluence.sanger.ac.uk/display/PSD/User+guide" target="_blank">User Guide</a></p>
  </div>
</div>
