$green-flash:       #003935;
$red-errors:        #A5191E;
$grey-light:        #C0C0C0;

$red-black-dark:    #160003;
$red-very-dark:     #310006;
$red-dark:          #52030C;
$red-mid:           #781722;
$red-pink:          #A03844;

$green-black-dark:  #041300;
$green-very-dark:   #092B00;
$green-dark:        #114803;
$green-mid:         #266914;
$green-light:       #448C31;
$green-very-light:  #69AD57;
$green-white-light: #9BD28C;