@import "shared";

fieldset{

  width: 60%;
  margin: 0 auto;

  border: none;

  legend{
    font:{
      size: 2em;
      weight: bold;
    }
    margin-bottom: 20px;
  }

  label{
    font-weight: bold;
  }

  input[type=text], input[type=submit], input[type=password], textarea {
    border-style: solid;
    border-width: 2px;
    @include rounded-corners(5px);
  }

  input[type=text], input[type=password], select, textarea{
    width: 100%;
    padding: 5px;
    margin-top: 10px;
  }

  input[type=checkbox]{
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    width: 50px;
    position: relative;
    left: -10px;
  }

  textarea{
    height: 200px;
  }

  input[type=submit]{
    width: 102%;
    height: 40px;
    font-size: 1.2em;
    margin-top: 20px;
  }

  ul{
    li{
      margin-bottom: 10px;

      div{
        margin-bottom: 5px;
      }
    }
  }

  fieldset{

    legend{
      display: block;
    }

  }
}

.search{
  legend{
    display: none;
  }

  fieldset{ 
    width: 300px;
    position: absolute;
    top: -10px;
    right: 20px;
  }

  font-size: 0.9em;

  label{
    display: none;
  }

  input[type=search]{
    width: 150px;
    float: left;

    font-weight: normal;
    font-size: 0.7em;
  }

  input[type=search], input[type=submit]{
    height: 30px;
    box-sizing: border-box;
  }

  input[type=submit]{
    width: 100px;
    position: relative;
    top: -10px;
  }

}

.ui-dialog{

  fieldset{
    font-size: 0.8em;
    width: 80%;

    legend{
      font-size: 1em;
    }
  }

  .errors{
    width: 80%;

    h3{
      font-size: 0.9em;
    }

    ul{
      li{
        font-size: 0.8em;
      }
    }
    
  }
}
