@import "shared";

fieldset{
  border: none;

  input[type=text], input[type=password], select, textarea{
    width: 100%;
    padding: 5px;
    margin-top: 10px;
  }

  label{
    font:{
      weight: bold;
    }
  }

  textarea{
    height: 200px;
  }

  input[type=text], input[type=submit], input[type=password], input[type=search], textarea {
    @include rounded-corners(5px);
    border-style: solid;
    border-width: 1px;
    border-color: LightGray;
  }

  input[type=checkbox]{
    width: 50px;
    position: relative;
    transform: scale(1.5);
  }

  fieldset{
    legend{
      display: block;
    }
  }

}

.search{
  position: absolute;
  top: 10px;
  right: 20px;
  width: 320px;

  legend, label{
    display: none;
  }

  input[type=search]{
    float: left;
    padding: 5px;
    height: 20px;
  }

  input[type=submit]{
    width: 80px;
    height: 30px;
    margin: 0 0 0 10px;
  }

}

.body{
  fieldset{
    width: 60%;
    margin: 0 auto;

    legend{
      font:{
        size: 2em;
        weight: bold;
      }
      margin-bottom: 20px;
    }

    input, select{
      margin-bottom: 10px;
    }

    input[type=submit]{
      width: 101%;
      height: 40px;
      font-size: 1.2em;
      margin-top: 20px;
    }

  }

}

// .ui-dialog{

//   fieldset{
//     font-size: 0.8em;
//     width: 80%;

//     legend{
//       font-size: 1em;
//     }
//   }

//   .errors{
//     width: 80%;

//     h3{
//       font-size: 0.9em;
//     }

//     ul{
//       li{
//         font-size: 0.8em;
//       }
//     }
    
//   }
// }
