
*{
  padding: 0;
  margin: 0;
}

ul, ol{
  list-style-type: none;
}

html, body{
  height: 100%;
  width: 100%;
  text-decoration: none;
  font: {
    family: 'Helvetica Neue', helvetica, arial, sans-serif;
  }
}

.container{
  position: relative;
  width: 100%;
  min-height: 100%;
}

.body{
  clear: both;
  padding-top: 50px;
  margin: 0 auto;
  width: 1060px;
}

nav{
  margin: 20px 0 0 0;
  padding: 0 0 0 20px;
  background:#FFF;
  float:left;
  width: 150px;
  position: absolute;
  right: 300px;

  ul{

    li{
      float:left;
      display:inline;
      height: 30px;

      &:hover{
        background:#E6E6E6;
      }

      a{
        display:block;
        color:#444;
        text-decoration: none;
      }

      ul{
        position:absolute;
        width:150px;
        background:#FFF;

        li{
          width:150px;

          a{
            display:block;
            padding-top:5px;
            color:#444;
          }

          &:hover{
            background:#F7F7F7;
            text-decoration: underline;
          }
        }
      }
    }
  }
}

header, footer{
  float: left;
  min-width: 100%;
}

header{
  border-bottom: 1px dotted gray;
  padding-bottom: 10px;

  div{
    float: left;
    padding: 10px;

    font:{
      size: 2em;
      weight: bold;
    }

    a{

      text-decoration: none;

      &:visited{
        color: black;
      }

    }
  }
}

.flash, .errors{
  width: 65%;
  margin: 0 auto;
}

.flash{
  .notice, .alert{
    border: 1px solid black;
    padding: 10px;

    p{
      text-align: left;
      margin-top: 5px;
      padding-left: 40px;
      width: auto;
    }
  }
}

.errors{

  border: 1px solid black;

  margin-bottom: 20px;
  padding: 10px;

  h3{
    font-size: 1.4em;
    padding-bottom: 10px;
  }

  ul{

    margin-left: 20px;

    li{
      list-style-type: disc;
    }
  }
}

article{
  margin:{
    top: 20px;
    bottom: 20px;
  }
}