@import "shared";

*{
  padding: 0;
  margin: 0;
  color: $red-very-dark
}

a{
  color: black;

  &:hover, &:visited{
    color: $red-dark;
  }
}

ul, ol{
  list-style-type: none;
}

html, body{
  height: 100%;
  width: 100%;
  text-decoration: none;
  font: {
    family: 'Helvetica Neue', helvetica, arial, sans-serif;
  }
}

.container{
  position: relative;
  width: 100%;
  min-height: 100%;
}

.body{
  clear: both;
  padding-top: 50px;
  margin: 0 auto;
  width: 100%;
  min-height: 400px;
}

header, footer{
  float: left;
  width: 100%;
}

header{
  border-bottom: 1px dotted gray;
  padding-bottom: 10px;
  height: 40px;
  @include gradient($red-mid, $red-dark);

  a{
    text-decoration: none;
  }

  .heading{
    margin-top: 5px;
    padding: 5px;
  }

}

nav{
  position: absolute;
  top: 30px;
  right: 300px;

  a:hover {
    color: white;
  }

  & > ul{
    background:{
      image: image-url("down-arrow.png");
      position: right 0 top 3px;
      repeat: no-repeat;
    }
    & > li{
      display: inline;
      & > a, & > a:visited{
        color: white;
        padding-right: 25px;
      }
      ul{
        position: absolute;
        left: 750px;
        @include rounded-corners(5px);
        @include drop-shadow(2px, gray);
        opacity: 0.9;
        @include gradient(#fff, #ccc);

        width: 120px;
        border: 1px solid gray;

        a{
          display: block;
          padding-left: 5px;
        }

        li{

          font-size: 0.9em;
          &:hover {
            background:$red-dark;
          }

          a{
            display:block;
            padding-top:5px;
            color:#444;

            &:hover{
              color: white;

            }
          }

        }
      }
    }
  }
}

footer{
  min-height: 50px;
  border-top: 1px dotted $red-dark;

  p{
    padding: 10px;
    font:{
      size: 0.9em;
      color: $red-dark;
    }
  }
}

.flash .notice, .flash .alert, .errors{
  width: 60%;
  margin: 0 auto;
  padding: 10px;
  margin-bottom: 20px;
}

.flash{

  .notice{
    @include flash($green-flash,"notice.png");
  }

  .alert{
    @include flash($red-errors,"alert.png");
  }
}

.errors{


  border: 1px solid $red-errors;
  border-top: 3px solid $red-errors;
  margin:{
    top: 20px;
    bottom: 20px;
  }
  padding-left: 20px;

  h3{
    font:{
      size: 1.4em;
      padding-bottom: 10px;
    };

    color: $red-errors;
  }

  ul{
    margin-left: 20px;

    li{
      list-style-type: disc;
      color: $red-errors;
    }
  }

  p{
    margin-top: 20px;
  }
}

.list{
  width: 90%;
  margin: 0 auto;
}

article{

  margin:{
    top: 10px;
    bottom: 10px;
  }
}

.drilldown{

  img{
    position: relative;
    top: 2px;
  }


  .no-decoration{
    text-decoration: none;
  }

  .description, .name{
    display: inline-block;
  }

  .description{
    width: 400px;
  }

  .name{
    width: 200px;
  }

  .child-count{
    font-style: italic;
  }

  div{
    font-size: 0.9em;
    display: inline;
    margin-right: 10px;

  }

  article{
    margin-left: 20px;
  }
}

.info{
  position: fixed;
  display: block;
  @include transition(2s);
  @include transition-delay(.2s);
  @include rounded-corners(10px);
  @include drop-shadow(2px, gray);
  @include gradient(#fff, #ccc);
  border: 1px solid #160003;
  opacity: 0.9;

  z-index: 99999;
  padding: 5px 10px 0px 10px;
  width: auto;


  p{
    &:first-child{
      margin-top: 10px;
    }
    font-size: 0.8em;
    padding: 2px;
  }

  .close {
    background: $green-dark;
    color: white;
    text-decoration: none;
    line-height: 20px;
    position: absolute;
    right: -7px;
    text-align: center;
    top: -5px;
    width: 20px;
    border: 1px solid #160003;
    @include rounded-corners(12px);
    @include transition;
    @include transition-delay(.2s);
    @include drop-shadow(1px, gray);
    &:hover { @include transition; }

  }
}

.about {
  padding-left: 20px;
  div {
    padding: 5px;
  }
}

.new-location, .edit-location {
  .select2 {
    margin: 10px 0;
  }
}

.note {
  font-style: italic;
  font-size: smaller;
}