@import "shared";

*{
  padding: 0;
  margin: 0;
}

a{
  color: black;
  
  &:visited{
    color: black;
  }
}

ul, ol{
  list-style-type: none;
}

html, body{
  height: 100%;
  width: 100%;
  text-decoration: none;
  font: {
    family: 'Helvetica Neue', helvetica, arial, sans-serif;
  }
}

.container{
  position: relative;
  width: 100%;
  min-height: 100%;
}

.body{
  clear: both;
  padding-top: 50px;
  margin: 0 auto;
  width: 100%;
}

header, footer{
  float: left;
  width: 100%;
}

header{
  border-bottom: 1px dotted gray;
  padding-bottom: 10px;
  height: 50px;

  a{
    text-decoration: none;
  }

  .heading{
    font:{
      size: 2em;
      weight: bold;
    }

    padding: 5px;
  }
    
}

nav{
  position: absolute;
  top: 40px;
  right: 350px;
  width: 150px;

  a{
    display: block;
    width: 120px;

  }

  .root{
     background:{    
      image: image-url("arrow-down.png");
      position: right 30px top -6px;
      repeat: no-repeat;
    }
  }

  ul{
    li{

      ul{
        
        @include rounded-corners(5px);
        @include drop-shadow(2px, gray);

        width: 120px;
        border: 1px solid gray;

        a{
          display: block;
          padding-left: 5px;
        }

        li{

          font-size: 0.9em;

          &:hover{
            background:#E6E6E6;
          }

          a{
            display:block;
            padding-top:5px;
            color:#444;
          }

        }
      }
    }
  }
}

footer{
  min-height: 50px;
}

.flash .notice, .flash .alert, .errors{
  width: 60%;
  margin: 0 auto;
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 20px;
}

.flash{
  p{
    text-align: left;
    margin-top: 5px;
    padding-left: 40px;
    width: auto;

  }
}

.errors{

  h3{
    font-size: 1.4em;
    padding-bottom: 10px;
  }

  ul{
    margin-left: 20px;
    li{
      list-style-type: disc;
    }
  }
}

.list{
  width: 90%;
  margin: 0 auto;
}

article{

  margin:{
    top: 10px;
    bottom: 10px;
  }
}

.drilldown{

  .no-decoration{
    text-decoration: none;
  }

  div{

    font-size: 0.9em;
    display: inline;
    margin-right: 10px;
  }

  article{
    margin-left: 20px;
  }
}