@import "shared";

.ui-dialog{

  height: auto;

  fieldset{
    font-size: 0.8em;
    width: 80%;

    legend{
      font-size: 1em;
    }
  }

  .ui-dialog-titlebar{
    @include gradient($red-mid, $red-dark);
  }

  .ui-dialog-title{
    color: white;
  }

  .ui-dialog-buttonpane{
    display: none;
  }

  .errors{
    width: 80%;

    h3{
      font-size: 0.9em;
    }

    ul{
      li{
        font-size: 0.8em;
      }
    }
  
  }
}