<section class="<%= header.to_css_class %>">
   <h1>
    <%= header.to_s %>
  </h1>
  <div class="collection" data-behavior="audits-list">
    <%= render partial: "application/audit", collection: audits %>
  </div>
</section>