<footer>
  <p>
    <%= Deployed::VERSION_STRING %> <%= link_to Deployed::VERSION_COMMIT, Deployed::REPO_URL%> <%= Deployed::RELEASE_NAME %>
  </p>
  <p>
    &copy; Sanger Institute <%= current_year %>
  </p>
</footer>
