<section class="<%= header.to_css_class %> list">
  <h1>
    <%= header.to_s %>
  </h1>
  <div>
      <%= link_to "Add new location", new_location_path %>
  </div>
  <div class="collection" data-behavior = "locations-list" >
    <%= render partial: "application/location", collection: locations %>
  </div>
  <div id="print-form"></div>
</section>
