
<section class="<%= header.to_css_class %>">
    <h1>
      <%= header.to_s %>
    </h1>
    <div>
      <%= link_to "Add new location type", new_location_type_path %>
    </div>
    <%= render location_types %>
    <div id="delete-form"></div>
</section>