<section class="<%= header.to_css_class %>">
  <h1>
    <%= header.to_s %>
  </h1>
  <div>
      <%= link_to "Add new location", new_location_path %>
  </div>
  <div id="collection">
    <%= render locations %>
  </div>
  <div id="print-form"></div>
</section>
